---
apiVersion: v1
kind: Secret
metadata:
  name: message-analysis-repo
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: https://github.com/rhdh-demo-gh/message-analysis.git